spring:
  application:
    name: business-card-website
  datasource:
    url: jdbc:postgresql://localhost:5432/bcw
  jpa:
    hibernate:
      ddl-auto: update
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
  cloud:
    vault:
      authentication: APPROLE
      uri: https://vault.ilug.ru
      kv:
        enabled: true
        backend: kv
        application-name: business-card-website
        default-context: common
  config:
    import: file:./env.properties,vault://,classpath:career.yml

server:
  port: 8531

git:
  base-url: https://git.ilug.ru
  owner: ilug
  repository: my-blog-posts
  branch: main