:root {
    --block-max-width: 750px;
}

#content {
    text-align: left;
    max-width: var(--block-max-width);
    margin: var(--space-2) auto;
}

.gap-03 {
    gap: 3px;
}

.img-20 {
    width: 20px;
    height: 20px;
}

.button {
    display: block;
    width: max-content;
    min-width: max-content;
    text-align: left;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    color: var(--primary-color);
    border: var(--primary-color) solid 2px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--text-color-1);
    text-decoration: none;
}