:root {
    --page-width: 730px;
}

#blog-title {
    max-width: calc(var(--page-width) + 40px);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.post {
    max-width: var(--page-width);
    margin-bottom: var(--space-2);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: var(--border-normal);
    border-radius: var(--border-radius-normal);
}

.post-title {
    margin: 0;
    font-size: 1.5em;
}

.post-date {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.post-content {
    text-align: left;
}

.post-content p {
    line-height: 1.6;
}

.post-content ul,
.post-content ol {
    padding-left: 20px;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    color: var(--text-color-2);
}

.post-meta-value {
    display: flex;
    gap: 0.1em;
}

.post-meta-value img {
    width: 20px;
    height: 20px;
    margin: 3px 0;
}

.post-meta-value span {
    text-align: left;
}

.post .btn {
    display: block;
    width: max-content;
    min-width: max-content;
    text-align: left;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    color: var(--primary-color);
    border: var(--primary-color) solid 2px;
    border-radius: 6px;
    transition: all .15s ease-in-out;
}

.post .btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color-1);
}