.work {
    text-align: left;
    width: -webkit-fill-available;
    justify-self: center;
    border: var(--border-normal);
    padding: 20px;
    border-radius: var(--border-radius-normal);
}

.work:last-child {
    margin-bottom: 0;
}

.work-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.83em;
}

.work-header h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.work-header img {
    width: 30px;
    header: 30px;
}

.work-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.work-value {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.work-value span:last-child {
    text-align: right;
}

.work-tasks {
    border-top: var(--border-normal);
    width: -webkit-fill-available;
    margin-top: 25px;
}

.work-tasks p {
    line-height: 1.6;
}

.work-stack {
    width: -webkit-fill-available;
    margin-top: 25px;
}

.work-stack .tag-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}