:root {
    --block-max-width: 750px;
}

#content {
    text-align: left;
    max-width: var(--block-max-width);
    margin: var(--size-3) auto;
}

#general-info {
    flex: 1 1;
    min-width: 300px;
}

#general-info h1 {
    line-height: 1;
}

.avatar {
    width: 160px;
    height: 160px;
}

.button-with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    border: var(--border-normal);
    border-radius: var(--border-radius-small);
    padding: 2px 7px;
    text-decoration: none;
    font-weight: normal;
    color: var(--text-color-1);
    transition: all .15s ease-in-out;
}

.button-with-icon:hover {
    background-color: var(--foreground-light-color-70);
    text-decoration: none;
}

.button-with-icon img {
    width: 16px;
    height: 16px;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 2px 7px;
    padding: 0 5px;
    background-color: var(--foreground-light-color-50);
    border-radius: var(--border-radius-small);
    font-size: 14px;
    font-family: var(--fonts-monospace);
}