/* Main container */
.md-content {
    font-size: 1rem;
    margin: 0 auto;
}

/* Headers */
.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    margin-top: var(--size-4);
    margin-bottom: var(--size-2);
    font-weight: 600;
    line-height: 1.3;
}

.md-content h1:first-child,
.md-content h2:first-child,
.md-content h3:first-child,
.md-content h4:first-child,
.md-content h5:first-child,
.md-content h6:first-child {
    margin-top: 0;
}

.md-content h1 { font-size: 2em; }
.md-content h2 { font-size: 1.6em; }
.md-content h3 { font-size: 1.3em; }
.md-content h4,
.md-content h5,
.md-content h6 { font-size: 1.1em; }

.md-content p {
    margin: var(--size-1) 0;
}
.md-content p:first-child {
    margin-top: 0;
}
.md-content p:last-child {
    margin-bottom: 0;
}

/* Lists */
.md-content ul,
.md-content ol {
    margin: var(--size-1) 0;
    padding-left: var(--size-2);
}

.md-content li {
    margin-bottom: var(--size-1);
}

/* Images */
.md-content img {
    max-width: 100%;
    height: auto;
    margin: var(--size-1) 0;
    border: var(--border-normal);
    border-radius: var(--border-radius-normal);
}

/* Tables */
.md-content table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--size-1) 0;
    font-size: 0.95em;
}

.md-content th,
.md-content td {
    background-color: var(--foreground-dark-color-1);
    border: var(--border-normal);
    padding: var(--size-1);
}

.md-content th {
    background-color: var(--foreground-dark-color-2);
    text-align: left;
}

/* Separators */
.md-content hr {
    border: none;
    border-top: var(--border-normal);
    margin: var(--size-2) 0;
}

/* Code blocks */
.md-content pre {
    padding: var(--size-1);
    overflow-x: auto;
    border-radius: var(--border-radius-normal);
    font-size: 0.95em;
    margin: var(--size-1) 0;
    background-color: var(--foreground-dark-color-1);
    border: var(--border-normal);
}

.md-content pre code {
    background-color: transparent;
    color: inherit;
    font-family: 'JetBrains Mono', Consolas, monospace;
    padding: 0;
    border: none;
}

/* Code highlight */
.md-content code {
    background-color: var(--foreground-dark-color-1);
    color: #f8f8f2;
    padding: 5px 7px;
    border: var(--border-normal);
    border-radius: var(--border-radius-small);
    font-family: 'JetBrains Mono', Consolas, monospace;
    font-size: 0.95em;
}

/* Quotes */
.md-content blockquote {
    margin: var(--size-1) 0;
    padding: var(--size-1);
    padding-left: var(--size-2);
    border: var(--border-normal);
    border-left: 4px solid var(--primary-color);
    background-color: var(--foreground-dark-color-1);
    color: #ccc;
    font-style: italic;
    border-radius: var(--border-radius-small);
}

.md-content blockquote p {
    margin: 0;
}