/* Main container */
.md-content {
    font-size: 1rem;
    margin: 0 auto;
}

/* Headers */
.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,
.md-content h6 {
    margin-top: var(--size-4);
    margin-bottom: var(--size-2);
    font-weight: 600;
    line-height: 1.3;
}

.md-content h1:first-child,
.md-content h2:first-child,
.md-content h3:first-child,
.md-content h4:first-child,
.md-content h5:first-child,
.md-content h6:first-child {
    margin-top: 0;
}

.md-content h1 { font-size: 2em; }
.md-content h2 { font-size: 1.6em; }
.md-content h3 { font-size: 1.3em; }
.md-content h4,
.md-content h5,
.md-content h6 { font-size: 1.1em; }

.md-content p {
    margin: var(--size-1) 0;
}
.md-content p:first-child {
    margin-top: 0;
}
.md-content p:last-child {
    margin-bottom: 0;
}

/* Lists */
.md-content ul,
.md-content ol {
    margin: var(--size-1) 0;
    padding-left: var(--size-2);
}

.md-content li {
    margin-bottom: var(--size-1);
}

/* Images */
.md-content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-1);
    margin: var(--size-1) 0;
}

.md-content img {
    max-width: 100%;
    height: auto;
    margin: 0;
    border: var(--border-normal);
    border-radius: var(--border-radius-normal);
}

.md-content figcaption {
    color: var(--text-color-3);
}

/* Tables */
.md-content table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: var(--border-radius-normal);
    border: var(--border-normal);
    margin: var(--size-1) 0;
    overflow: hidden;
    font-size: 0.95em;
}

.md-content th,
.md-content td {
    background-color: var(--background-color);
    border-right: var(--border-normal);
    border-bottom: var(--border-normal);
    padding: var(--size-1);
}

.md-content th:last-child,
.md-content td:last-child {
    border-right: none;
}

.md-content tr:last-child td {
    border-bottom: none;
}

.md-content th {
    background-color: var(--foreground-dark-color-1);
    text-align: left;
}

/* Separators */
.md-content hr {
    border: none;
    border-top: var(--border-normal);
    margin: var(--size-2) 0;
}

/* Code blocks */
.md-content .code-block {
    font-size: 0.95em;
    margin: var(--size-1) 0;
}

.md-content .code-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    border: var(--border-normal);
    border-bottom: none;
    border-top-left-radius: var(--border-radius-normal);
    border-top-right-radius: var(--border-radius-normal);
    padding: var(--size-1);
    font-family: var(--fonts-monospace);
    line-height: 1;
    color: var(--text-color-3);
}

.md-content .code-header div {
    display: flex;
    align-items: center;
    gap: var(--size-1);
}

.md-content .code-header .image-button {
    width: 16px;
    height: 16px;
    margin: 0;
    border: none;
    border-radius: var(--border-radius-normal);
    padding: 7px;
    margin: -7px;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.md-content .code-header .image-button:hover {
    background-color: var(--foreground-light-color-70);
}

.md-content pre {
    overflow-x: auto;
    border-radius: var(--border-radius-normal);
    border: var(--border-normal);
    margin: 0;
    background-color: var(--background-color);
}

.md-content .code-block > *:nth-child(even) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.md-content pre code {
    background-color: transparent;
    color: inherit;
    font-family: var(--fonts-monospace);
    padding: 0;
    border: none;
}

/* Code highlight */
.md-content code {
    background-color: var(--background-color);
    color: #f8f8f2;
    padding: 5px 7px;
    border: var(--border-normal);
    border-radius: var(--border-radius-small);
    font-family: var(--fonts-monospace);
    font-size: 0.95em;
}

/* Quotes */
.md-content blockquote {
    margin: var(--size-1) 0;
    padding: var(--size-1);
    padding-left: var(--size-2);
    border: var(--border-normal);
    border-left: 4px solid var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color-2);
    font-style: italic;
    border-radius: var(--border-radius-small);
}

.md-content blockquote p {
    margin: 0;
}

/* Details */
.md-content details {
    padding: var(--size-1);
    padding-left: var(--size-2);
    padding-bottom: 0;
    margin: var(--size-1) 0;
    border: var(--border-normal);
    border-left: 4px solid var(--primary-color);
    background-color: var(--background-color);
    border-radius: var(--border-radius-small);
}

.md-content details[open] {
    padding-bottom: var(--size-1);
}

.md-content details summary {
    margin: calc(var(--size-1) * -1);
    margin-left: calc(var(--size-2) * -1);
    margin-bottom: 0;
    padding: var(--size-1);
    line-height: 1;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

.md-content details[open] summary {
    border-bottom: var(--border-normal);
    margin-bottom: var(--size-1);
}

.md-content details summary:hover {
    background-color: var(--foreground-light-color-70);
}