:root {
    --background-color: rgb(27, 31, 35);
    --text-color: rgb(208, 213, 218);
    --text-color-second: rgb(143, 155, 168);

    --border-radius-small: 4px;
    --border-radius-normal: 6px;

    --border-normal: 1px solid rgb(59, 68, 76);

    --tag-color: rgba(114, 130, 146, 0.294);

    --color-highlight: rgb(26, 29, 31);

    --primary-color: rgb(65, 131, 196);

    --fonts-proportional: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial;
    --fonts-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, var(--fonts-proportional);
    text-align: center;
    background: var(--background-color);
    padding: 50px;
    padding-top: 125px;
    color: var(--text-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 150px auto 0 auto;
    max-width: 650px;
    width: -webkit-fill-available;
    gap: 30px;
}

.main-info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.avatar {
    width: 150px;
    height: 150px;
    border: var(--border-normal);
    border-radius: var(--border-radius-normal);
}

.main-info h1 {
    margin-top: 0;
}

.contact-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.contact-line a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.contact-line a:hover {
    text-decoration: underline;
}

.contact-line span.separator {
    color: #888;
}

.contact-line img {
    width: 16px;
    height: 16px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: var(--tag-color);
    padding: 5px;
    border-radius: var(--border-radius-small);
    font-size: 14px;
    font-family: var(--fonts-monospace);
}

.tag img {
    width: 20px;
    height: 20px;
}