:root {
    --border-radius-small: 4px;
    --border-radius-normal: 6px;

    --color-highlight: #2d2d2d;

    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    padding: 50px;
    padding-top: 125px;
}

.page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 600px;
    width: -webkit-fill-available;
    gap: 30px;
}

.main-info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 16px;
}

.main-info h1 {
    margin-top: 0;
}

.contact-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
    font-size: 18px;
}

.contact-line a {
    color: #0366d6;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
}

.contact-line a:hover {
    text-decoration: underline;
}

.contact-line span.separator {
    color: #888;
}

.contact-line img {
    width: 20px;
    height: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: #e4e4e4;
    color: #333;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.tag img {
    width: 20px;
    height: 20px;
}