:root {
    --background-color: rgb(28, 28, 28);

    --foreground-dark-color-1: rgb(26, 26, 26);
    --foreground-dark-color-2: rgb(20, 20, 20);

    --foreground-light-color-1: rgba(130, 130, 130, 0.294);

    --primary-color: #337dbd;

    --text-color-1: rgb(255, 255, 255);
    --text-color-2: rgb(210, 210, 210);
    --text-color-3: rgb(170, 170, 170);

    --border-radius-small: 4px;
    --border-radius-normal: 6px;

    --border-normal: 1px solid rgb(68, 68, 68);

    --space-1: 20px;
    --space-2: 30px;
    --space-3: 40px;

    --fonts-proportional: -apple-system, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial;
    --fonts-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: var(--fonts-proportional);
    font-size: 1rem;
    text-align: center;
    line-height: 1.7;
    background: var(--background-color);
    color: var(--text-color-2);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-1);
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}