<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Блог</title>
    <link rel="icon" type="image/png" th:href="@{/icons/logo.png}"/>

    <!-- Prism core -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/autoloader/prism-autoloader.min.js"></script>

    <script th:src="@{/js/markdown.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/markdown.css}">
    <link rel="stylesheet" th:href="@{/css/toolbar.css}">
</head>
<body>
<div id="content" class="vertical-flex gap-1">
    <h1 class="margin-0">Блог</h1>

    <div class="vertical-flex gap-2">
        <div class="border-normal foreground-1 padding-2 vertical-flex gap-3" th:each="post : ${posts}">
            <div class="width-fill-available md-content" th:utext="${post.previewHtmlContent}"></div>
            <div class="horizontal-flex gap-2 justify-space-between align-items-flex-end">
                <a class="button" th:href="@{/post/{slug}(slug=${post.key})}">Читать далее →</a>
                <div class="horizontal-flex gap-1 wrapped text-small">
                    <div class="horizontal-flex gap-03 align-items-center">
                        <img class="img-20" th:src="@{/icons/views.svg}" src="" alt="views">
                        <span th:text="${post.views}"></span>
                    </div>
                    <div class="horizontal-flex gap-03 align-items-center">
                        <img class="img-20" th:src="@{/icons/date.svg}" src="" alt="time">
                        <span th:text="${post.date}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
