<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Иван Луговой</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="card">
    <img class="avatar" src="https://avatars.githubusercontent.com/u/79121988" alt="Avatar">
    <h1>Иван Луговой</h1>

    <div class="contact-line">
        <a href="https://github.com/FalmerF" target="_blank" aria-label="GitHub">
            <img src="/icons/github.svg" alt="GitHub"> GitHub
        </a>
        <span class="separator">|</span>
        <a href="https://t.me/FalmerF" target="_blank" aria-label="Telegram">
            <img src="/icons/telegram.svg" alt="Telegram"> Telegram
        </a>
    </div>

    <p>Более-менее профессиональный разработчик на каких-то более-менее полезных языках.</p>

    <div class="skills">
        <div class="tag" th:each="skill : ${skills}">
            <img th:src="'/icons/skill/' + ${skill.icon}" src="" alt="">
            <span th:text="${skill.name}"></span>
        </div>
    </div>
</div>
</body>
</html>
