<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" th:content="${generalInfo.fullName} + ' - ' + ${generalInfo.jobTitle}">
    <meta property="og:title" th:content="${generalInfo.fullName} + ' - ' + ${generalInfo.jobTitle}">
    <meta property="og:type" th:content="website">
    <meta property="og:url" th:content="${currentUrl}">
    <meta property="og:image" th:content="${currentUrl} + 'icons/photo.jpg'">

    <meta name="description" th:content="${generalInfo.status}">
    <meta property="og:description" th:content="${generalInfo.status}">

    <meta name="keywords" th:content="${generalInfo.fullName} + ', ' + ${generalInfo.jobTitle}">

    <title th:text="${generalInfo.fullName}"></title>
    <link rel="shortcut icon" type="image/png" th:href="@{/icons/logo.png}" />

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/career.css}">
    <link rel="stylesheet" th:href="@{/css/markdown.css}">
</head>
<body>

<div class="page card">
    <div class="main-info">
        <img class="avatar" th:src="@{/icons/photo.jpg}" src="" alt="Avatar">
        <div style="min-width: 150px; max-width: 550px;">
            <h1 th:text="${generalInfo.fullName}"></h1>
            <p th:text="${generalInfo.status}"></p>

            <div class="contact-line">
                <a th:each="link, status : ${links}" th:href="${link.url}" th:aria-label="${link.name}" target="_blank">
                    <img th:src="${link.icon}" th:alt="${link.name}" alt="" src="" th:text="${link.name}">
                </a>
            </div>
        </div>
    </div>

    <div class="skills">
        <div class="tag" th:each="skill : ${skills}">
            <span th:text="${skill.name}"></span>
        </div>
    </div>
</div>

<div class="page">
    <h2 class="page-title">Биография</h2>
    <div class="bio md-content">
        <p th:each="paragraph : ${bio}" th:text="${paragraph}"></p>
    </div>
</div>

<div class="page">
    <h2 class="page-title" th:text="'Опыт работы: ' + ${workExperience}"></h2>

    <div class="work" th:each="work : ${works}">
        <div class="work-header">
            <img th:src="'/icons/work/' + ${work.icon}" th:if="${work.icon != null}" src="" alt="">
            <h2 th:text="${work.name}"></h2>
        </div>
        <div class="work-info">
            <div class="work-value" th:if="${work.legalName != null}">
                <span>Наименование:</span>
                <span th:text="${work.legalName}"></span>
            </div>
            <div class="work-value" th:if="${work.position != null}">
                <span>Позиция:</span>
                <span th:text="${work.position}"></span>
            </div>
            <div class="work-value">
                <span>Время работы:</span>
                <span th:text="${work.period.displayText} + ' (' + ${work.getFormatedPeriod()} + ')'"></span>
            </div>
        </div>
        <div class="work-tasks" th:if="${not #lists.isEmpty(work.tasks)}">
            <h3>Задачи</h3>
            <p th:each="task : ${work.tasks}" th:text="${task}"></p>
        </div>
        <div class="work-tasks" th:if="${not #lists.isEmpty(work.progress)}">
            <h3>Достижения</h3>
            <p th:each="progress : ${work.progress}" th:text="${progress}"></p>
        </div>
        <div class="work-stack">
            <h3>Стек</h3>
            <div class="tag-holder">
                <div class="tag" th:each="skill : ${work.stack}">
                    <span th:text="${skill}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>