<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" th:content="${post.title}">
    <meta property="og:title" th:content="${post.title}">
    <meta property="og:type" th:content="website">
    <meta property="og:url" th:content="${currentUrl}">
    <meta property="og:image" th:content="@{/icons/logo.png}">

    <meta name="description" th:content="${post.description}">
    <meta property="og:description" th:content="${post.description}">

    <meta name="keywords" th:content="${#strings.listJoin(post.keyWords, ', ')}">

    <title th:text="${post.title}"></title>
    <link rel="icon" type="image/png" th:href="@{/icons/logo.png}"/>

    <!-- Prism core -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism-tomorrow.min.css">
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.min.js"></script>

    <!-- Languages -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-java.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-markup.min.js"></script>

    <!-- Plugin ToolBar -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/plugins/toolbar/prism-toolbar.css">

    <!-- Plugin Copy to Clipboard -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

    <!-- Plugin Show Language -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/plugins/show-language/prism-show-language.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <link rel="stylesheet" th:href="@{/css/markdown.css}">
    <link rel="stylesheet" th:href="@{/css/toolbar.css}">
</head>
<body>
<div id="content">
    <div class="border-normal foreground-1 padding-2 vertical-flex gap-3">
        <div class="width-fill-available md-content" th:utext="${post.htmlContent}"></div>
        <div class="horizontal-flex gap-2 justify-space-between align-items-flex-end">
            <a class="button" th:href="@{/blog}">← Назад к блогу</a>
            <div class="horizontal-flex gap-1 wrapped text-small">
                <div class="horizontal-flex gap-03 align-items-center">
                    <img class="img-20" th:src="@{/icons/views.svg}" src="" alt="views">
                    <span th:text="${post.views}"></span>
                </div>
                <div class="horizontal-flex gap-03 align-items-center">
                    <img class="img-20" th:src="@{/icons/date.svg}" src="" alt="time">
                    <span th:text="${post.date}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
